html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  
}

/* Estilos para el contenedor principal que ocupa toda la pantalla */
.container {
  display: flex;
  height: 100vh;
  
}

/* Estilos para la parte izquierda */
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%; 
  padding: 20px;
  background-color: #242424;
  
}
h1,h2,p{
    color: antiquewhite;
}
.search-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.add-contact-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* Estilos para la parte derecha */
.right-section {
    flex-grow: 1; 
    overflow-y: auto; /* Esto es para que aparezca un scroll vertical si el contenido es mas largo que el contenedor*/
    background-color:#242424 ;  
    padding: 20px;
}
input{
    margin: 5px;
}

